.cards-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.card {
    height: 350px;
    width: 100%;
    border: 1px solid var(--light-color);
    padding: 1rem;
}

.card__img {
    height: 100%;
    width: 100%;
    background:
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.788)),
    url('../img/Proyect-Ahorcado.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.proyect-img-2 {
    background: 
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.788)),
    url('../img/proyecto-Encript.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card__description {
    text-align: center;
    position: relative;
    bottom: 5rem;
    font-size: 1.5rem;
}

@media (min-width: 1200px) {
    .cards-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 3rem;
    }

    .card {
        height: 350px;
        width: 100%;
        border: 1px solid var(--light-color);
        padding: 1rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: 250ms ease-in-out;
    }
    
    .card__img {
        background:
        linear-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.219)),
        url('../img/Proyect-Ahorcado.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        transition: 350ms ease-in-out;
        cursor: pointer;
    }
    
    .card__description {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: white;
        text-align: center;
        opacity: 0;
        transition: 350ms ease-in-out;
        font-weight: bold;
    }
    
    .card:hover {
        border: 1px solid var(--secondary-color);
    }
    
    .card:hover .card__img {
        transform: scale(1.2);
        background:
        url('../img/Proyect-Ahorcado.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .card:hover .card__description {
        opacity: 1;
    }
    
    .proyect-img-2 {
        background:
        linear-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.219)),
        url('../img/proyecto-Encript.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .card:hover .proyect-img-2 {
        background:
        url('../img/proyecto-Encript.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

} 
