
.menu__button {
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: var(--light-color);
    cursor: pointer;
}

.menu-close {
    display: none;
}

@media (min-width: 992px) {
    .menu-buttons {
        display: none;
    }
}